.main {
    margin-top: 1rem;
    margin-left: 16rem;
    flex-grow: 1;
    position: relative;

    .maininner {
        padding: 1rem;
        background: white;
        margin: 0 auto;
        overflow: hidden;
        width: 85%;
    }
}